Name: moviebox-connect
Version: 1.3-1
Author: z448 <zed448@icloud.com>
Architecture: iphoneos-arm
Package: sh.load.moviebox-connect
Section: Utilities
Maintainer: z448
Homepage: http://github.com/z448/moviebox-connect
Description: Watch Moviebox content on Linux/OSX
Depends: sh.load.perl.5.22.0, openssh, libio-tty-p5220, libnet-openssh-p5220, libfilesys-notify-simple-p5220, mobilesubstrate, libactivator
